<h1>Chats</h1>
<p>
	<%= link_to "Neuer Chat", new_conversation_path %>
</p>
<ul id="chat_list">
	<% @conversations.each do |conversation| %>
	<li>
		<a href="/conversation/<%= conversation.id %>" class="conversation_preview_box">
			<% if conversation.contact.user_one_id == @current_user.id %>
				<h3><%= conversation.contact.user_two.nick_name %></h3>
			<% else %>
				<h3><%= conversation.contact.user_one.nick_name %></h3>
			<% end %>
			<p>
				<span class="last_chat_time"><%= "(" + time_ago_in_words(conversation.messages.last.updated_at) + ")" %></span>
				<span class="last_chat_message"><%= conversation.messages.last.content %></span>
				<%= "(" + conversation.messages.where("read = 'f' AND user_id != ?", @current_user.id).count.to_s + ")" if conversation.messages.where("read = 'f' AND user_id != ?", @current_user.id).count > 0 %>
			</p>
		</a>
	</li>
	<% end %>
</ul>