<h1><%= link_to User.find_by_id(@partner_id).nick_name, contact_path(@contact_id)  %></h1>
<div id="in_conversation_messages_wrapper">
	<% @messages.each do |message| %>
		<% message.user_id == @current_user.id ? message_class = "my_message" : message_class = "partners_message" %>
		<p class=<%= message_class %>>
			<%= message.content %><br />
			<span class="meta_data_of_message">
				<%= message.updated_at.strftime("%H:%M") %>
				<%= message.read ? "(gelesen)" : "(ungelesen)" if message.user_id == @current_user.id %>
			</span>
		</p>
	<% end %>
</div>
<div id="new_message_form_wrapper">
	<%= form_tag message_index_path, method: :post do %>
		<%= hidden_field_tag "user_id", @current_user.id %>
		<%= hidden_field_tag "conversation_id", @conversation.id %>
		<%= text_area_tag "content" %>
		<%= submit_tag "Senden" %>
	<% end %>
</div>