<!DOCTYPE html>
<html>
<head>
  <title>Messenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if !@current_user.nil? %>
	<p>
		<%= link_to "Chats", dashboard_index_path %>
	</p>
	<p>
		<%= link_to "Logout", logout_path %>
	</p>
<% end %>

</body>
</html>
